.btn{
    background-color: #4156B5;
    color: #F3F4F7;
}
.btn:hover {
    background-color: #314087;
}
.dropdown-item:hover {
    transition: 0.4s;
}
.nav-link {
    transition: 0.10s;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
body {
    background-image: url('../img/voidu-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.up{
    position: fixed;
    display: inline-block;
    bottom: 1em;
    right: 0;
}
.card {
    position: relative;
    overflow: hidden; /* Çocuk öğelerin sınırlarını aşmamasını sağla */
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Siyah renkte bir katman (0.5 opaklık) */
    opacity: 0; /* Başlangıçta görünmez yap */
    transition: opacity 0.3s ease-in-out; /* Geçiş efekti ekle */
}

.card:hover::before {
    opacity: 1; /* Hover olduğunda görünür yap */
}

.card .card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    background-color: transparent;
    transform: translate(-50%, -50%);
    opacity: 0; /* Başlangıçta görünmez yap */
    transition: opacity 0.3s ease-in-out; /* Geçiş efekti ekle */
    z-index: 1; /* Resmin üzerine çıkarmak için z-index kullan */
}

.card:hover .card-body {
    opacity: 1; /* Hover olduğunda görünür yap */
}

   




